.colon {
    padding-left: 90px;
    padding-right: 15px;
}

.colon1 {
    padding-left: 106px;
    padding-right: 15px;
}

.colon2 {
    padding-left: 139px;
    padding-right: 15px;
}

.colon3 {
    padding-left: 117px;
    padding-right: 15px;
}

.colon4 {
    padding-left: 134px;
    padding-right: 15px;
}

.colon5 {
    padding-left: 106px;
    padding-right: 15px;
}